




footer 
    div
        ul 
            - 
                var links = [
                    {
                        link: "Home", 
                        href: ""
                    },
                    {
                        link: "Trending",
                        href: "index"
                    },
                    {
                        link: "Collections",
                        href: "collections"
                    },
                    {
                        link: "Events",
                        href: "events"
                    },
                    {
                        link: "About me",
                        href: "about-her"
                    },
                    {
                        link: "Contacts",
                        href: "contacts"
                    }];
            each link in links 
                li 
                    a(href=link.href)= link.link
        include ./medias.pug
    h6.copyr &copy;Copyright 2021 All right reserved. Made by Smath Cadet and Team.
script(src="../../public/js/jquery.js") 
script(src="../../public/js/nav.js") 
script(src="../../public/js/scroll-out.min.js") 
script(src="../../public/js/anim.js") 
script(src="../../public/js/checkout.js") 
script(src="../../public/js/art-car.js") 
script(src="../../public/js/owl.carousel.min.js") 
