* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

:root {
    --font-principal:  'Poppins', sans-serif;
    --font-secondaria:  'Open Sans', sans-serif;
    --secondary-color: #e4d298;
    --primary-color: #000;
    --third-color: #fff;
    --card-bg: #5c5b5b18;
}

.coll-content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    /* flex-wrap: wrap; */
    /* flex-shrink: 0; */
    overflow: hidden;
}

.coll-dress {
    width: 50%;
}

.slide1 {
    height: 30vh;
}

.slide1 > .slide-info {
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}