* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

:root {
    --font-principal:  'Poppins', sans-serif;
    --font-secondaria:  'Open Sans', sans-serif;
    --secondary-color: #e4d298;
    --primary-color: #000;
    --third-color: #fff;
    --card-bg: #5c5b5b18;
}

i {
    min-width: 16px;
}


.product-present {
    width: 100%;
    padding: 20px;
}

.img-viewer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img-viewer > div.img-box {
    position: relative;
    width: 90%;
    margin:auto
}

.img-viewer > div.img-box > div > img {
    width: 100%;
    margin-top: 20px;
    display: none;
}

.img-viewer > div.img-box > i {
    font-size: 30px;
    color: var(--secondary-color);
    position: absolute;
    top: 30px;
    right: 15px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.img-viewer > div.img-box > i:hover {
    color: var(--primary-color);
}

.img-viewer > div.img-box > .item-price {
    position: absolute;
    bottom: 70px;
    left: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.item-thumb {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    column-gap: 5px;
}

.item-thumb > img {
    width: 60px;
    border: 1px solid var(--primary-color);
    /* border-radius: 3px; */
}

.item-thumb > img:hover {
    border: 2px solid var(--secondary-color);
}

.item-details {
    width: calc(100% - 40px);
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rate-info {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px;
    /* border-radius: 10px; */
    color: var(--secondary-color);
}

.item-action {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-action > button {
    width: 150px;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    /* font-family: var(--font-principal); */
}

.item-action > button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.rate-info {
    position: relative;
    top: -10px;
}

.rate-info > div {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.rate-info > div > i {
    font-size: 20px;
    font-weight: 400;
}

.rate-info > div > i > span{
    padding: 10px;
}

/* recommended article sections  */

.recommended-art {
    padding: 20px;
}

.rec-dress-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.dress {
    width: calc(50% - 10px);
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
    background-color: rgba(129, 129, 129, 0.11);
}

.dress > div {
    /* height: ; */
}

.dress > div > img {
    width: 100%;
}

.dress > div > i {
    position: absolute;
    font-size: 30px;
    top: 15px;
    right: 15px;
    color: var(--secondary-color);
}

.dress > div > i:hover {
    color: var(--primary-color);
}

.dress > div > h4 {
    font-size: 0.8em;
    position: absolute;
    bottom: 60px;
    left: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

.dress-info {
    padding: 0px 10px;
} 

.dress-info > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dress-info > div > div > i:hover {
    color: var(--secondary-color);
}

.a-link-box {
    display: flex;
    justify-content: flex-end;
}

.a-link {
    display: inline-block;
    width: 170px;
    text-align: center;
    text-decoration: none;
    /* border: 1px solid var(--primary-color); */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 20px;
}

.a-link:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


