include includes/header.pug


.creator-pres 
    img.pict-sarah(src="./public/images/sarah.png", alt="a sarah picture")
    .historia 
        h1.section-title Una Historia de gran determinacion
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit, minus. Ad maiores, excepturi cumque illum, a nobis debitis alias incidunt ducimus aspernatur necessitatibus commodi illo beatae, minima tenetur? Necessitatibus voluptatem aliquam, qui maxime voluptatum repudiandae, eveniet dignissimos pariatur corrupti ratione sunt accusamus cum optio? Nisi eveniet placeat nulla obcaecati error? 
        br
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet rem porro ipsam recusandae dicta culpa distinctio. Quod vero incidunt vitae mollitia molestiae quam dolore. Est, inventore quis. Modi id minus magni accusamus qui quisquam aperiam iste omnis sunt facilis, atque nobis asperiores ratione, unde aliquid aspernatur dolores? Qui, maxime quidem!
        br
        h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, magni.
        br
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, repellendus voluptate eos facilis dolore iure at natus dolorem hic numquam, perferendis quod unde vitae porro sed molestiae voluptatem ipsam debitis. Alias quas repudiandae commodi nesciunt recusandae consequatur perferendis fugiat at soluta aliquid temporibus asperiores est sed adipisci, eligendi eos iure impedit fugit, unde corrupti repellat aut voluptatibus quibusdam laboriosam! Reprehenderit?
        br 
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque sint expedita, eligendi consequatur rerum voluptas harum iste, atque in ducimus, dolorum dicta fuga distinctio vel optio ea at sed ex commodi provident earum enim laudantium laboriosam. Voluptatibus culpa ipsa consectetur dolorum dolorem. Natus, animi? Voluptatem enim cum ab ipsum harum.

    .more-about-me.historia 
        h3.section-title More About me on Social medias:
        include ./includes/medias.pug 







include includes/footer.pug

