include includes/header.pug

.contact-box
    .response-contact 
        div
            p Your message has been sent succefully , we will send your a response within the next 24 hours.
            p.thanks Thank you for contacting Us.
            a.a-link(href="/") Go back Home 


include includes/footer.pug