* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

:root {
    --font-principal:  'Poppins', sans-serif;
    --font-secondaria:  'Open Sans', sans-serif;
    --secondary-color: #e4d298;
    --primary-color: #000;
    --third-color: #fff;
    --card-bg: #5c5b5b18;
    --dress-action: rgba(0, 0, 0, 0.507);
    --dress-bg-col: rgba(129, 129, 129, 0.11);
}

.creator-pres {
    margin-top: 0px;
    width: 100vw;
    /* background-color: var(--primary-color);
    color: var(--third-color); */
}

img.pict-sarah {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.historia {
    padding: 0 40px;
}

.historia[data-scroll="in"] {

}

.section-title {
    margin: 5px 0;
    
}